@import "tailwindcss";

@theme {
  --color-vagupe-DEFAULT: #1e4b85;
  --color-vagupe-dark: #163a66;
  --color-vagupe-light: #eef4fb;

  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}